{% load static %}

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title%}{% endblock %}</title>
</head>
<body>
    {% block header %}{% endblock %}
    {% if messages %}
    {% for message in messages %}
    <ul>
        <li>
            {{ message }}
        </li>
    </ul>
    {% endfor %}
    {% endif %}
    {% block contents %}{% endblock %}
</body>
</html>